@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 219, 219);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 2px solid black;
  border-radius: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-container > div {
  justify-content: right;
  align-items: center;
  display: flex;
}
.input-container > div > label {
  margin-right: 20px;
}
.input-container > input,
.input-container > div > input {
  border-radius: 30px;
  border: 1px solid black;
}
.input-container > input {
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: black;
  border: 1px solid black;
}
.input-container > input:hover {
  background-color: rgb(3, 75, 3);
}
.input-container > div > input {
  height: 30px;
  width: 180px;
  padding-left: 10px;
  color: black;
}
#inputdiv-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
table {
  margin-top: 30px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}
tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}
